.Card {
    border: 2px solid black;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    margin: 15px;
    width: 200px;
    height: 250px;
    display: inline-block;
}

.Card:hover {
    cursor: pointer;
    background-color: #dbdbdb;
}

.CardPicture {
    width: 60%;
    height: auto;
    border-radius: 80%;
}

.CardTitle {
    color: #333;
    font-size: 21px;
    margin: 10px;
    position: relative;
    bottom: -10px;
}

.CardExplanation {
    color: #555;
    font-size: 14px;
    line-height: 1.3;
    position: relative;
    bottom: -25px;
}